<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="jquery-3.3.1.js"></script>
  
    
    <style type="text/css">
    body,div{border:0; margin:0; padding:0;}
      button {
        display: block;
        margin: 5px 5px 5px 5px;
        width: 140px;
        height: 30px;
        font-size: 14pt;
        font-weight: bold;
        color: black;
      }
  
      .LOW {
        background-color: Red;
      }
          
      .HIGH {
        background-color: White;
      }
    </style>
</head>

<body>
    <h1>Panel de Control</h1>

    <h2>Control de Fuente XLN30052</h2>
    <section>
        <a
          href="192.168.1.150"
          target="_blank"
          class="text-blue-600 hover:underline"
        >
          Abrir panel de la fuente
        </a>
    </section>
    <label>Set Voltage (V): </label>
    <input type="number" id="voltage" step="0.1">
    <button onclick="setVoltage()">Enviar</button>
    <h3 id="current_voltage">Voltaje Actual: -- V</h3>
    <button onclick="getVoltage()">Refrescar</button>


    
    <h2>Lectura de DAQ USB-5203</h2>
    <button onclick="getTemperature()">Leer </button>
    <h3 id="temperature">Temperatura: -- °C</h3>

    <h2>Control de Relés</h2>
    <label>Selecciona Relé:</label>

    <div id="content" align="left">
        <button type = "button" class = "HIGH" id = "Relay1" onclick = Button_Click("Relay1")>Relay1</button>
        <button type = "button" class = "HIGH" id = "Relay2" onclick = Button_Click("Relay2")>Relay2</button>
        <button type = "button" class = "HIGH" id = "Relay3" onclick = Button_Click("Relay3")>Relay3</button>
        <button type = "button" class = "HIGH" id = "Relay4" onclick = Button_Click("Relay4")>Relay4</button>
        <!-- <button type = "button" class = "HIGH" id = "Relay5" onclick = Button_Click("Relay5")>Relay5</button> -->
        <!-- <button type = "button" class = "HIGH" id = "Relay6" onclick = Button_Click("Relay6")>Relay6</button> -->
        <!-- <button type = "button" class = "HIGH" id = "Relay7" onclick = Button_Click("Relay7")>Relay7</button> -->
        <!-- <button type = "button" class = "HIGH" id = "Relay8" onclick = Button_Click("Relay8")>Relay8</button> -->
    </div>
    <h3>Estado de Relés</h3>
    <pre id="relay_status">---</pre>

    <script>
  
  var Relay_Status = {
  Relay1: 1,
  Relay2: 1,
  Relay3: 1,
  Relay4: 1,
  Relay5: 1,
  Relay6: 1,
  Relay7: 1,
  Relay8: 1
};

function Button_Click(button_num) {
      
  var button_id = "#" + button_num;
      
  if(Relay_Status[button_num] == 1) {
    $(button_id).removeClass("HIGH");
    $(button_id).addClass("LOW");
    Relay_Status[button_num] = 0;
  }
  else if(Relay_Status[button_num] == 0) {
    $(button_id).removeClass("LOW");
    $(button_id).addClass("HIGH");
    Relay_Status[button_num] = 1;
  }
  
  $.post('Relay', {Relay1: Relay_Status.Relay1, 
                  Relay2: Relay_Status.Relay2, 
                  Relay3: Relay_Status.Relay3, 
                  Relay4: Relay_Status.Relay4, 
                  Relay5: Relay_Status.Relay5, 
                  Relay6: Relay_Status.Relay6, 
                  Relay7: Relay_Status.Relay7, 
                  Relay8: Relay_Status.Relay8})
}

    </script>
</body>
</html>

